.ipynb_checkpoints
datasets
airflow/logs
airflow/airflow.db
airflow/dags/__pycache__
airflow/dags/message.txt
airflow/airflow-scheduler.*
airflow/airflow-webserver.*
airflow/airflow-webserver*
*.csv
*.db